<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445861245260-2s797ge41ht3ca93ke5e48qq5lhll3vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445861245260-2s797ge41ht3ca93ke5e48qq5lhll3vd</string>
	<key>API_KEY</key>
	<string>AIzaSyACPU79s5nEhnWX1hJXWM380F5bpnSc-as</string>
	<key>GCM_SENDER_ID</key>
	<string>445861245260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>shopping-list-e2233</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-list-e2233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445861245260:ios:87001d2e3fe70d9c709fe9</string>
</dict>
</plist>